
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;

}
.fab{
    font-size: 60px;
    padding:20px 30px;
    cursor: pointer;
}
.navbar{
   padding:20px 100px;
    background-color: rgb(100, 100, 253);
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
.home-link{
    text-decoration: none;
    color:white;
}

.list-nav{
    list-style-type: none;
    display:flex;
    color:white;

}

.list-nav>li> a{
    color:white;
    text-decoration: none;
   
}
.abt-link1{
    padding-right:100px;
}
#intro-wel{
    
   height:100vh;
   background:linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(8, 0, 5, 0.6)),url('./images/red-closed.JPG');
    background-size:cover;
    background-position:50% 40%; 
    position: relative;
}
.intro-text{
    position: absolute;
    padding-left: 100px;
    height: 70%;
    width:100%;
    color:white;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-end;
}
.intro-text{
    font-family: 'Langar', cursive;
}
.intro-text >h1{
    font-size: 70px;
}
.abt-btns{
    padding-bottom:6px ;
}

.texts-btns{
  cursor: pointer;
   width:50%;
    font-weight: 500;
  
    margin-bottom: 40px;
}
.about-content{
    padding:30px 100px;
    /* background-color: rgb(223, 223, 232); */
    min-height: 400px;
   
}
.abt-heading{
    text-align: left;
    /* background-color:white; */
}
.about-ex-content{
    padding-top: 10px;
display:flex;
flex-direction: column;

}
.abt-t{
    display: none;
}



#contact{
    padding:20px;
    text-align: center;
    background-color: rgb(100, 100, 253);
}
.contact-heading{
    color:white;
}
.fb-icon, .li-icon{
    color: rgb(13, 13, 79);
}
.insta-icon{
   color:#7d56cc;
}
.footer-content{
    background-color: #000;
    color:white;
    text-align: center;
    padding:20px;
}
.git-icon{
    color:black;
}
.active{
    background-color: rgb(13, 13, 79);
    color:white;
    padding:8px;
}


.container-imgs{
    position: relative;
    width:auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
.my-gallery-text{
    padding-top:30px;
   
}
.container-imgs .box{
    position:relative;
    width:180px;
    height:275px;
    transition:0.5s;
}
.container-imgs .box:hover{
  
    z-index:1;
    transform:scale(1.11)
}
.buttons-img-change{
    text-align: center;
}

.btn-img-change{
    background-color: rgb(13, 13, 79);
    color:white;
    border:none;
    padding:10px 30px;
    margin-top:20px;
    font-size: 20px;
    cursor: pointer;
    border-radius:5px;

}
.btn-img-change:hover{
    background-color: rgb(13, 13, 79,0.7);;
}

@media only screen and (max-width: 600px) {
    .navbar{
        padding:20px 10px;
         display:flex;
        
        justify-content: space-between;
    align-items:center;
     }
     .list-nav{
        display: flex;
        flex-direction: column;
         padding-left: 0%;
     }
     .abt-link1{
         padding-right:30px;
     }
     .fab{
         padding:10px;
     }
     .about-content{
        padding:20px;
     }
     .intro-text{
         padding-left:20px;
     }
     .texts-btns{
         width:100%;
     }

    
  }

  @media only screen and (max-width:1000px){
    .container-imgs .box {
        position: relative;
        width: 100% ;
         height: 100%;
        transition: 0.5s;
        text-align: center;
    }
    .container-imgs{
        justify-content: center;
    }
    .box-1,.box-2,.box-3{
        /* display: none; */
    }
    

    /* .container-imgs{
        position: relative;
        width:auto;
        display: flex;
        flex-direction: column;
    }
     .container-imgs .box{
        position:relative;
        width:100%;
        height:100%;
        transition:0.5s;
    }
    .container-imgs .box:hover{
      
        z-index:1;
        transform:scale(1.11) */
  }